<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="DataContext" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=ToTal.ToDo.Test;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <contexts>
      <context type="Oleinikov.TopTal.ToDo.Data.DataContext, Oleinikov.TopTal.ToDo.Data">
        <databaseInitializer type="Oleinikov.TopTal.ToDo.Data.DropCreateDatabaseIfModelChangesDataContextInitializer, Oleinikov.TopTal.ToDo.Data"/>
      </context>
    </contexts>
  </entityFramework>

</configuration>