<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>ToDo Demo by Igor Oleinikov</title>
	<script src="../../Scripts/jquery-2.0.3.js"></script>
	<script src="../../Scripts/linq.js"></script>
	<script src="../../Scripts/knockout-2.3.0.js"></script>
	<script src="../../Scripts/moment.js"></script>
	<script src="../../Scripts/Api.js"></script>
	<script src="../../Scripts/Api-jquery.js"></script>
	<script src="../../Scripts/Demo.js"></script>
	<script src="../../Scripts/metroui/input-control.js"></script>
	<script src="../../Scripts/metroui/calendar.js"></script>
	<script src="../../Scripts/metroui/dropdown.js"></script>
	<link href="../../Content/metroui/modern.css" rel="stylesheet" />
	<link href="../../Content/layout.css" rel="stylesheet" />
	<script> ToDo.Demo.Init();</script>
</head>
<body class="metrouicss page">
	<div class="page">
		<div class="page-header bg-color-blueLight">
			<header class="page-header-content">
				<h1>todo list</h1>
				<h2>demo app for TopTal by Igor Oleinikov</h2>
			</header>
		</div>
		<div data-bind="visible: user.token" class="nav-bar bg-color-blue fg-color-white">
			<div class="nav-bar-inner">
				<ul class="menu">
					<li data-role="dropdown">
						<a href="#"><i class="icon-user-3"></i><strong data-bind="text: user.name"></strong></a>
						<ul class="dropdown-menu">
							<li>
								<a href="#" data-bind="click: function () { editProfile(); }">Edit profile</a>
							</li>
							<li>
								<a href="#" data-bind="click: function() { logout(); }"><i class="icon-exit"></i>Logout</a>
							</li>
						</ul>
					</li>
					<!-- ko if: view.list -->
					<li data-role="dropdown">
						<a href="#">Sort by <span data-bind="text: list.orderBy"></span></a>
						<ul class="dropdown-menu">
							<!-- ko foreach: list.orderOptions -->
							<li><a href="#" data-bind="click: function() { $parent.list.orderBy($data); }, css: {'checked': $parent.list.orderBy() == $data }, text: $data"></a></li>
							<!-- /ko -->
							<li class="divider"></li>
							<li>
								<a href="#" data-bind="click: function() { list.orderDir('asc'); }, css: {'checked': list.orderDir()=='asc'}">from lower to higher</a>
							</li>
							<li>
								<a href="#" data-bind="click: function() { list.orderDir('desc'); }, css: {'checked': list.orderDir()=='desc'}">from higher to lower</a>
							</li>
						</ul>
					</li>
					<li data-role="dropdown">
						<a href="#">Show <span data-bind="text: list.filter"></span></a>
						<ul class="dropdown-menu" data-bind="foreach: list.filterOptions">
							<li>
								<a href="#" data-bind="click: function() { $parent.list.filter($data); }, css: {'checked': $parent.list.filter()==$data}, text: $data"></a>
							</li>
						</ul>
					</li>
					<!-- /ko -->
				</ul>
			</div>
		</div>

		<div class="page-region" data-bind="if: view.editItem">
			<h1 data-bind="text: editItem().isNew ? 'Create new task' : 'Edit task'"></h1>
			<div data-bind="with: editItem">
				<div class="input-control text">
					<input type="text" class="big" data-bind="value: title, valueUpdate: 'afterkeydown'" placeholder="Title of the task" />
				</div>
				<div class="input-control text-box">
					<textarea data-bind="value: description" placeholder="Description of the task"></textarea>
				</div>
				<div class="button-set">
					Priority <!-- ko foreach: $parent.priorities --><button data-bind="text: $data, css: { 'active': $parent.priority()==$data },
						click: function() { $parent.priority($parent.priority()==$data?'None':$data); }"></button><!-- /ko -->
					State <!-- ko foreach: $parent.states --><button data-bind="text: $data, css: { 'active': $parent.state()==$data },
						click: function() { $parent.state($data); }"></button><!-- /ko -->
					<label class="input-control checkbox">
						<input type="checkbox" data-bind="checked: completeDueSet" />
						<span class="helper">Set date to complete due</span>
					</label>
					<div style="display: inline-block; width: 10em;" data-bind="if: completeDueSet">
						<div class="input-control text datepicker" data-bind="datepicker: completeDue">
							<input type="text" />
							<button class="btn-date"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="page-region" data-bind="if: view.editProfile">
			<h1>Profile</h1>
			<div data-bind="with: user">
				<div style="display: inline-block; width: 48%; vertical-align: top;">
					<h2 style="margin: 1em 0;">name</h2>
					<div data-bind="text: name" style="font-size: 2.5em;"></div>
				</div><div style="display: inline-block; width: 48%; vertical-align: top; margin-left: 4%;">
					      <h2 style="margin: 1em 0;">info</h2>
					      <div><strong>Created</strong>: <span data-bind="text: createdOn().toLocaleDateString()"></span></div>
					      <div><strong>Updated</strong>: <span data-bind="text: updatedOn().toLocaleDateString()"></span></div>
				      </div>
				<h2 style="margin: 1em 0;">change password</h2>
				<div class="input-control password" style="display: inline-block; width: 48%;">
					<input type="password" data-bind="value: password, valueUpdate: 'afterkeydown'" placeholder="Type your new password" />
					<button class="btn-reveal"></button>
				</div><div class="input-control password" style="display: inline-block; width: 48%; margin-left: 4%;">
					<input type="password" data-bind="value: confirmPassword, valueUpdate: 'afterkeydown'" placeholder="Confirm your new password" />
					<button class="btn-reveal"></button>
				</div>
				<div data-bind="visible: passwordWorngLength()"><span class="label important">!</span> Password must be at least 6 charchter length.</div>
				<div data-bind="visible: passwordNotMatch()"><span class="label important">!</span> Password and confirmation does not match.</div>
			</div>
		</div>

		<div class="page-region" data-bind="visible: view.list">
			<div class="page-region-content">
				<ul data-bind="foreach: list.items" class="listview fluid">
					<li data-bind="click: function () { $parent.selectItem($data); }, css: { selected: $parent.selectedItem() == $data } ">
						<h3><i data-bind="css: {'icon-checkmark': state()=='Completed', 'icon-meter-medium': state()=='InProgress' }"></i>
							<span data-bind="text: title"></span>
						</h3>
						<p data-bind="text: description"></p>
						<span data-bind="if: priority() != 'None', attr: { title: priority().toLowerCase() + ' priority' }">
							<i data-bind="css: { 'icon-warning': priority()=='High', 'icon-thumbs-up': priority()=='Medium', 'icon-thumbs-down': priority()=='Low' }"></i><span data-bind="text: priority().toLowerCase()"></span>
						</span>
						<span data-bind="if: completeDue()">
							<i class="icon-clock"></i><span data-bind="text: completeDue().toLocaleDateString()"></span>
						</span>
					</li>
				</ul>
			</div>
		</div>

	</div>

	<div class="message-dialog bg-color-blue" data-bind="visible: view.login">
		<h2>You need to log in or register</h2>
		<form>
			<div class="input-control text">
				<input type="text" data-bind="value: user.name" placeholder="Enter your name" tabindex="0" />
				<button class="btn-clear"></button>
			</div>
			<div class="input-control password">
				<input type="password" data-bind="value: user.password" placeholder="Enter password" tabindex="1" />
				<button class="btn-reveal"></button>
			</div>
			<button data-bind="click: function() { $data.Login(); }" tabindex="2" class="default bg-color-orangeDark"><i class="icon-enter"></i>Login</button>
			<button data-bind="click: function() { $data.Register(); }" tabindex="3">Register</button>
		</form>
	</div>

	<div class="app-bar" data-bind="visible: view.logged">
		<div data-bind="visible: view.list">
			<a href="#" class="app-bar-button" data-bind="click: function() { create(); }"><i class="icon-plus-2"></i>create new task</a>
			<!-- ko if: view.listWithSelected -->
			<a href="#" class="app-bar-button" data-bind="click: function() { selectedItem().edit(); }"><i class="icon-pencil"></i>edit</a>
			<a href="#" class="app-bar-button" data-bind="visible: selectedItem().state()!='Completed', click: function() { selectedItem().complete(); }"><i class="icon-checkmark"></i>mark as complete</a>
			<a href="#" class="app-bar-button" data-bind="visible: selectedItem().state()=='Completed', click: function() { selectedItem().uncomplete(); }"><i class="icon-cancel-2"></i>unmark as complete</a>
			<a href="#" class="app-bar-button" data-bind="visible: selectedItem().state()!='InProgress', click: function() { selectedItem().startProgress(); }"><i class="icon-meter-fast"></i>start progress</a>
			<a href="#" class="app-bar-button" data-bind="visible: selectedItem().state()=='InProgress', click: function() { selectedItem().stopProgress(); }"><i class="icon-meter-slow"></i>stop progress</a>
			<a href="#" class="app-bar-button" data-bind="click: function() { selectedItem().remove(); }"><i class="icon-cancel-2"></i>delete</a>
			<!-- /ko -->
		</div>
		<div data-bind="if: view.editItem">
			<a href="#" class="app-bar-button" data-bind="visible: editItem().title(), click: function() { editItem().done(); }"><i class="icon-checkmark"></i>done</a>
			<a href="#" class="app-bar-button" data-bind="click: function() { editItem().cancel(); }"><i class="icon-cancel-2"></i>cancel</a>
		</div>
		<div data-bind="if: view.editProfile">
			<a href="#" class="app-bar-button" data-bind="visible: user.canSavePassword, click: function () { saveProfile(); }"><i class="icon-checkmark"></i>save new password</a>
			<a href="#" class="app-bar-button" data-bind="click: function() { view.editProfile(false); }"><i class="icon-cancel-2"></i>cancel</a>
		</div>
	</div>
</body>

</html>
